# Ceres-J configuration file
# Neocron 2 Server Emulator

GUI = true
#GUI = false

Debug = unknownPackets,sendingPackets,events
#Debug =

StartWebServer = true
WebServerPort = 8080

# ServerIPLocal = auto
# ServerIPLocal = off
# ServerIPLocal = 192.168.1.1
# don't set this to 127.0.0.1 when running in Docker!
ServerIPLocal = auto

# LAN IP is always autodetected

# ServerIPWAN = auto
# ServerIPWAN = off
# ServerIPWAN = 123.123.123.123
ServerIPWAN = auto

ServerVersion = 111
ServerName = Ceres-J

AutoCreateAccounts = true
CharsPerAccount = 4

# Path to a full patched Neocron 2 client installation
# linux example:
NC2ClientPath = /home/javier/Neocron2
# windows example:
# NC2ClientPath = C:\\Spiele\\neocron2
