# Irata configuration file

GUI = true
#GUI = false

Debug = unknownPackets,sendingPackets,events
#Debug = 

StartWebServer = true
WebServerPort = 8080

# ServerIPLocal = auto
# ServerIPLocal = off
# ServerIPLocal = 192.168.1.1
# ServerIPLocal = sf.net
# don�t set this to 127.0.0.1 !!
ServerIPLocal = auto

# LAN IP is always autodetected

# ServerIPWAN = auto
# ServerIPWAN = off
# ServerIPWAN = 123.123.123.123
# ServerIPWAN = sf.net
ServerIPWAN = auto

ServerVersion = 111
ServerName = Irata III

AutoCreateAccounts = true
CharsPerAccount = 4

# linux example:
NC2ClientPath = /home/javier/Documents/Projects/Neocron/Neocron2Game
# windows example:
# NC2ClientPath = C:\\Programme\\neocron2
# you have to copy a full patched client of neocron2 on the server and set the path to this copy
#NC2ClientPath = C:\\Spiele\\neocron2


